.Footer {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  gap: 10px;
  padding: 4% 18%;
  /* position: absolute;
  bottom: 0; */
}
.inner_footer_header {
  font-size: 1.2rem;
  padding: 8px;
}
.inner_footer > li {
  padding: 8px;
}
.subscribeTomail > input {
  margin: 8px;
  padding: 4px;
}
